<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <!-- Logo -->
    <a routerLink="/" class="logo d-flex align-items-center">
      <h1 class="sitename mb-0">Waïdou ADOM ALASSANE</h1>
    </a>

    <!-- Navigation -->
    <nav id="navmenu" class="navmenu" [ngClass]="{ 'active': isMenuOpen }">
      <ul class="mb-0 list-unstyled">
        <li><a routerLink="/" (click)="closeMenu()" class="active">Accueil</a></li>
        <li><a href="#about" (click)="closeMenu()">À propos</a></li>
        <li><a href="#experience" (click)="closeMenu()">Expérience</a></li>
        <li><a routerLink="/distinction" (click)="closeMenu()">Distinctions</a></li>
        <li><a routerLink="/contact" (click)="closeMenu()">Contact</a></li>
      </ul>
    </nav>

    <!-- Burger -->
    <button class="mobile-nav-toggle d-xl-none" (click)="toggleMenu()">
      <i class="bi" [ngClass]="isMenuOpen ? 'bi-x' : 'bi-list'"></i>
    </button>

  </div>
</header>
